body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    height: 100vh;
    background-image: url(https://wallpapers.com/images/hd/1920x1080-aesthetic-glrfk0ntspz3tvxg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #1899D6;
    font-weight: bold;
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.post-card {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: left;
    background: linear-gradient(225deg, rgba(224, 251, 252, 1) 22%, rgba(157, 180, 192, 1) 100%);
    display:flex;
    gap: 10px;
}

.post-card img {
    width: 10vh;
    height: auto;
    border-radius: 8px;
}

.post-content {
    font-size: 20px;
    text-align: justify;
}

p {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: larger;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

.btn.btn-primary {
  position: fixed;
  left: 0;
  top: 20px;
  width: 50px;
  height: 50px;
  z-index: 1000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #2c3e50;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 0;
}

li a {
  display: block;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  background-color: #007bff;
  border-radius: 4px;
  margin: 5px 20px;
  transition: background-color 0.3s, color 0.3s;
}

li a.active {
  background-color: #004b8d;
}

li a:hover {
  background-color: #0056b3;
  color: white;
}

li {
  border-bottom: 1px solid #34495e;
}

li:last-child {
  border-bottom: none;
}
.offcanvas {
  width: 250px;
  }
  
nav{
  align-items: left;
}